__pycache__/
*.py[cod]

*$py.class

pip-log.txt
pip-delete-this-directory.txt

__pypackages__/

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

.npm
node_modules/
jspm_packages/

.vscode-test
.idea







